<h1>jumpst<span class='title_font'></span><i>art</i></h1>
<span class='site_about'><p>Submit works in progress to be reviewed by experienced local art critics</p></span>

<hr>

<div class='container'>

  <div class='image-main'>
    <ul>
      <% @images.each do |image| %>
        <div class='col-sm-4'>
          <li><%= link_to image_tag(image.image), user_path(image.user)  %></li>
          <li><%=  link_to image.user.username.titleize, user_path(image.user) %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>




<hr>
