<h1>jumpst<span class='title_font'>art</span></h1>

<hr>

<!-- <div class='row'> -->
<%= link_to "Sort by Date Added", :sort => "created_at" %>

<br><br>

  <ul>
    <% @images.each do |image| %>
      <div class='col-sm-4'>
        <li><%= link_to image_tag(image.image), user_path(image.user)  %></li>
      </div>
    <% end %>
  </ul>
<!-- </div> -->

<hr>
