<div class='about-page'>
  <p>Peer critique was one of the most valuable aspects of the learning process in my art school experience. While the comments and ideas weren’t always easy to hear, the feedback forced me to accept both criticism and praise about my work and to reexamine it with fresh eyes.</p>

  <p>Feedback is necessary in an effective learning environment. The goal is to improve the quality of the work. Use these three simple rules when using critique. </p>

  <p><strong>Be kind:</strong> Positive comments should come first and focus entirely on the work. No personal comments at all. No sarcasm or put downs. The comments can be challenging but the creator of the work should feel that the feedback is work orientated and happy to receive it. Hard on content, soft on people.</p>

  <p><strong>Be specific:</strong> Critique with a helpful suggestion. Comments should explain exactly what needs to be worked on (like a set of instructions) which the artist can simply take away and use.</p>

  <p><strong>Be helpful:</strong> If the comments don't benefit the work, the learning, the learners or the class, don't share it.  Everything you provide feedback on is there to help make the work better.</p>
</div>

What critique does differently though is develop the process by getting the feedback and feedforward more specific and refined.  It forces the feedback that is given to be more focused on specific features or elements.  All of the comments are designed to allow the writer/author/artist to take away that particular draft and know exactly what elements need focusing on.  The feedback becomes similar to that of a set of instructions, all with the purpose of driving forward the quality of a piece of work.

He is driven towards getting students to value their work and create pieces of excellence.  The mantra of 'If it's not perfect it isn't finished' echoes some of his values.  There are a number of additional factors (such as publicly displaying work, having an authentic element to the work and so on that add to this) but the core foundation of critique is key to producing excellent work and ensures that feedback is given and acted upon.
