<!-- <h2>How the Process Works</h2> -->
<h2>Benefits of Critique</h2>


<div class='about-page'>
  <p>Critiques are a valuable aspect of the learning process in any art school experience. Feedback will get students used to accepting both criticism and praise and to reexamine their work with fresh eyes. Critiquing student artwork demands care. Teachers must be honest in their judgments, because students can only develop as artists if they learn to value critique and take it seriously. But honest judgements may also risk making students feel inadequate or self-conscious, hindering further growth. Arts teachers have many ways of helping students understand how their work can be improved, without shutting down their initiative.</p>

<p>Elements of effective critique include the following:
<ul>
  <li><i>The work is the focus.</i> Criticism is centered not on the student and his or her skills, but on the artwork or performance.</li>
  <li><i>Improvement is the aim.</i> The purpose of critique is clear – helping the student make the artwork better, thereby realizing his or her aim more completely.</li>
  <li><i>Description is included.</i> The critique is grounded in talk about the work as it is – in its observable details.</li>
  <li><i>Reasons are offered.</i> When giving suggestions, teachers offer reasons for them, so that students begin to understand the way artists think about artistic problems.</li>
  <li><i>Understanding is checked.</i> Teachers check for student understanding, and stay alert to how the critique affects students’ feelings about the task.</li></p>
</ul>



<!-- <p>Common rules used in critique:</p>

  <p><strong>Be kind:</strong> Positive comments should come first and focus entirely on the work. No personal comments, sarcasm or put downs. The comments can be challenging but the creator of the work should feel that the feedback is work orientated and happy to receive it. Hard on content, soft on people.</p>

  <p><strong>Be specific:</strong> Critique with a helpful suggestion. Comments should explain exactly what needs to be worked on (like a set of instructions) which the artist can simply take away and use.</p>

  <p><strong>Be helpful:</strong> Feedback is provided to help make the work better.</p> -->
</div>
