<div class='about-page'>
  <p>Berger uses three very simple rules when using critique.  These rules ensure that the quality of the feedback is improved.</p>

  <p>Be kind:  All comments should focus entirely on the work.  No personal comments at all. No sarcasm or put downs.  The comments can be challenging but the creator of the work should feel that the feedback is work orientated and happy to receive it.  Hard on content, soft on people.</p>

  <p>Be specific: Refined and precise dialogue with detailed explanations on positives and steps to improve.  Comments should explain exactly what needs to be worked on (like a set of instructions) which the writer can simply take away and use.</p>

  <p>Be helpful: If the comments don't benefit the work, the learning, the learners or the class, don't share it.  Everything you provide feedback on is there to help make the work better.</p>
</div>

As an art student myself, peer critique was one of the most valuable aspects of my college career. While the comments and ideas weren’t always perfect, that feedback forced me to accept both criticism and praise about my work, and to reexamine it with fresh eyes. It made me a better artist, and it can make anyone a better writer.

the goal is to improve quality

Positive comment first
Critique with a helpful suggestion
Feedback is necessary in an effective learning environment. 
