@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
  // background: url('/assets/clay.jpg');
  // background-position: 50%, 20%;
}

a, td {
	// color: gray;
	color: #666666;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

a:hover {
	color: black;
	text-decoration: none;
}

.image-main {
	text-align: center;
	font-size: 16px;
	// font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-family: 'Amatic SC', cursive;
}

.about-page {
  margin-top: 20px;
}

.navbar {
    margin-bottom: 0;
}

.container {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
}

.container-fluid {
  margin-right: 20px;
  margin-left: 20px;
}

li {
  list-style-type: none;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.map-style img {
	box-shadow: none;
}

img {
  // max-width: 250px;
  // max-height: 250px;
  height: 250px;
  width: 250px;
  box-shadow: 10px 10px 5px #888888;
  margin: 20px;
}

img:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px black;
}

.no_hover img {
	box-shadow: none;
}

h1 {
  text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 55px;
}

h2 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
	color: #666666;
}

h5 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
}

p {
font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.title_font {
  font-size: 40px;
	color: #666666;
  // font-family: 'Bad Script', cursive;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;

}

.user_about, .site_about {
  text-align: center;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
}


// .round-image-50 {
//     background-color: white;
//     border: 1px solid #d9d9d9;
//     border-radius: 25px;
//     -moz-border-radius: 25px;
//     -webkit-border-radius: 25px;
//     height: 50px;
//     width: 50px;
//     overflow: hidden;
//     text-align: center;
//     img { width: 100% }
// }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
